* {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  border-radius: 5px;
}

.bcard {
  width: 100%;
  max-width: 50%;
  margin: 1em auto;
}

.accordion {
  width: 100%;
  max-width: 70.75%;
  margin: auto;
}