* {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  margin-bottom: 40px;
  color: wheat;
}

.bcard {
  width: 100%;
  max-width: 50%;
  margin: 1em auto;
}

.accordion {
  width: 100%;
  max-width: 70.75%;
  margin: auto;
}

.carousel {
  width: 95%;
  margin: auto;
  overflow: visible;
}

.d-block {
  width: 100%;
  overflow: visible;
}
